body,
html {
	font-family: "Roboto", sans-serif;
	color: #423f3d;
	font-size: 16px;
}

header {
	background-color: #f9f1e8;
	border-bottom: 7px solid #d5cabb;
}

header p {
	font-size: 16px;
}

header p span {
	color: #ec4700;
}

h1 {
	font: 300 24px "Roboto Slab", serif;
	color: #5b4b3b;
	letter-spacing: -2px;
	margin-bottom: 25px;
}

h2 {
	font-family: "Roboto Slab", serif;
	font-size: 24px;
	font-weight: bold;
	color: #423f3d;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-bottom: 25px;
}

img {
	display: block;
	max-width: 100%;
}

.logo {
	font-family: "Roboto Slab", serif;
	margin-top: 15px;
	margin-bottom: 30px;
}

.logo::before {
	float: left;
	content: "";
	background: url('/img/emblem.png') no-repeat 0 0 / 13px;
	width: 20px;
    height: 27px;
}

.world-map {
	border: 8px solid #fdf9f5;
	margin: 0 auto 25px;
}

.position {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: -45px;
	font: bold 55px / 0.8em "Roboto Slab";
	color: #ec4700;
}

.title-container {
	padding-left: 42px;
	margin-bottom: 20px;
}

.title-box {
	float: left;
}

.body-content {
	width: 100%;
	background-color: #ebeae8;
	padding-bottom: 70px;
}

.author {
	font-size: 14px;
	font-style: italic;
	color: #ec4700;
	text-decoration: underline;
}

.author:hover,
.author:focus {
	color: #00bff3;
}

.body-content .container > .row {
	border-top: 10px solid #e0dfdd;
	padding-top: 60px;
	margin-top: 50px;
}

.body-content > .container > .row:first-of-type {
	border-top: 0;
	padding-top: 0;
}

.cta-button {
	display: block;
	width: 130px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #ada8a4;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.cta-button:hover,
.cta-button:focus {
	color: #fff;
	background-color: #ec4700;
	text-decoration: none;
}

.category { 
	display: inline-block;
	font-size: 14px;
	color: #88a9cf;
	background-color: #f1f0ed;
    text-align: center;
    border: 1px solid #deddda;
	padding: 3px 10px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.category:hover,
.category:focus {
	color: #00bff3;
	text-decoration: none;
	background-color: #fff;
}

.art-image {
	margin-bottom: 27px;
	box-shadow: 3px 5px 20px rgba(0,0,0,0.2),
	2px 3px 3px rgba(0,0,0,0.25);
}

.price-like-box {
	float: right;
	width: 120px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.price {
	float: left;
	width: 51%;
	border-right: 1px solid #ccc9c6;
	color: #807c78;
	font-weight: 300;
	margin: 0;
	font-size: 14px;
}

.price sup {
	top: -.4em;
    padding-right: 2px;
}

.hearts {
	font-size: 14px;
	font-weight: bold;
	color: #454241;
	float: right;
	width: 49%;
	text-align: right;
	margin: 0;
}

.hearts span::before {
	content: "";
	background: url(/img/heart.png) no-repeat 0 0;
	background-size: 16px;
	width: 16px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


/* ========== MEDIA QUERIES ============ */


@media (min-width: 375px) {

	h1 {
		font-size: 28px;
	}

	.cta-button {
		width: 150px;
	}

	.price-like-box {
		width: 136px;
	}

}

@media (min-width: 470px) {

	.art-box {
		margin: 0 auto;
		width: 425px;
	}

}

@media (min-width: 768px) {

	header {
		background: #d5cabb url('/img/kitchen-with-art.jpg') no-repeat center 0;
		background-size: 1080px;
    	height: 417px;
	}

	header p {
		padding-right: 95px;
		font-size: 14px;
	}

	p {
		margin-bottom: 15px;
	}

	h1 {
		font-size: 26px;
		margin-bottom: 20px;
	}

	.body-content .col-md-6 {
		padding-top: 70px;
		margin-top: 70px;
	}

	.body-content > .container > .row:first-of-type {
		padding-top: 20px;
	}

	.art-image {
		position: absolute;
		top: 0;
		right: 15px;
	}

	.art-box {
		margin: 0;
		width: 260px;
	}

	.art-box.vertical {
		min-height: 540px;
	}

	.art-box.horizontal {
		min-height: 410px;
	}

	.art-box.horizontal .art-image {
		width: 425px;
	}

	.title-container {
		margin-bottom: 40px;
	}

	.cta-box {
		padding-left: 45px;
	}

	.price {
		font-size: 16px;
	}

	.price-like-box {
		float: none;
		width: 149px;
	}


}

@media (min-width: 767px) and (max-width: 991px) {

	.logo {
		margin-top: 15px;
    	margin-bottom: 20px;
	}

	.art-image {
		right: 20px;
	}
	
}

@media (min-width: 992px) {

	header {
		height: 527px;
		background-size: 1370px;
	}

	h1 {
		font-size: 29px;
		margin-bottom: 30px;
	}

	header p {
		font-size: 16px;
		padding-right: 15%;
	}

	p {
		margin-bottom: 20px;
	}

	.logo {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.body-content .col-md-6 {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}

	.art-box.horizontal .art-image {
		width: 506px;
	}

}

@media (min-width: 1200px) {

	header {
		height: 655px;
		background-size: auto;
	}

	header p {
		font-size: 18px;
		padding-right: 20%;
	}

	.logo::before {
		background-size: 17px;
		width: 25px;
	}

	p {
		margin-bottom: 30px;
	}

	h1 {
		font-size: 36px;
		margin-bottom: 40px;
	}

	.art-box {
		width: 340px;
	}

	.art-box.horizontal .art-image {
		width: 523px;
	}

	.body-content .container > .row {
		padding-top: 70px;
	}


}