body,
html {
	font-family: "Roboto", sans-serif;
	color: #423f3d;
	font-size: 16px;
}

header {
	background: #fdf8f4 url('/img/kitchen-with-breakfast-art.jpg') no-repeat right 0 bottom 0 / 132%;
	border-bottom: 10px solid #f6f1ed;
}

header p {
	font-size: 16px;
}

header p span {
	font-style: italic;
}

h1 {
	font: 300 24px "Roboto Slab", serif;
	color: #5b4b3b;
	letter-spacing: -2px;
	margin-bottom: 115%;
}

h2 {
	font-family: "Roboto Slab", serif;
	font-size: 24px;
	font-weight: bold;
	color: #423f3d;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-bottom: 25px;
}

img {
	display: block;
	max-width: 100%;
}

button {
	border: 0;
	background-color: #fff;
}

.logo {
	font-family: "Roboto Slab", serif;
	margin-top: 15px;
	margin-bottom: 30px;
}

.logo::before {
	float: left;
	content: "";
	background: url('/img/emblem.png') no-repeat 0 0 / 13px;
	width: 20px;
    height: 27px;
}

.world-map {
	margin: 0 auto 25px;
}

.position {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: -45px;
	font: bold 55px / 0.8em "Roboto Slab";
	color: #ec4700;
	text-align: right;
}

.title-container {
	padding-left: 42px;
	margin-bottom: 20px;
}

.title-box {
	
}

.body-content {
	width: 100%;
	background-color: #ebeae8;
	padding-bottom: 70px;
}

.author {
	font-size: 14px;
	font-style: italic;
	color: #ec4700;
	text-decoration: underline;
}

.author:hover,
.author:focus {
	color: #00bff3;
}

.body-content .container > .row {
	border-top: 10px solid #e0dfdd;
	padding-top: 60px;
	margin-top: 50px;
}

.body-content > .container > .row:first-of-type {
	border-top: 0;
	padding-top: 0;
}

.cta-button {
	display: block;
	width: 130px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #ada8a4;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.cta-button:hover,
.cta-button:focus {
	color: #fff;
	background-color: #ec4700;
	text-decoration: none;
}

.category { 
	display: inline-block;
	font-size: 14px;
	color: #88a9cf;
	background-color: #ececea;
    text-align: center;
    border: 1px solid #deddda;
	padding: 3px 10px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.category:hover,
.category:focus {
	color: #00bff3;
	text-decoration: none;
	background-color: #fff;
}

.art-image {
	display: block;
	margin-bottom: 27px;
	box-shadow: 3px 5px 20px rgba(0,0,0,0.2),
	2px 3px 3px rgba(0,0,0,0.25);
}

.price-like-box {
	float: right;
	width: 120px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.price,
.promo-price {
	color: #807c78;
	font-weight: 300;
	margin: 0;
	font-size: 14px;
}

.price sup,
.promo-price sup {
	top: -.4em;
    padding-right: 2px;
}


.price {
	float: left;
	width: 50%;
}

.promo-active .price {
	text-decoration: line-through;
	font-size: 12px;
	float: none;
	width: 30%;
}

.promo-active .promo-price {
	display: block;
	width: 50%;
	float: left;
	color: #ec4700;
    font-weight: bold;
}

.promo-price {
	display: none;
}

.hearts {
	font-size: 14px;
	font-weight: bold;
	color: #454241;
	float: right;
	width: 50%;
	text-align: right;
	margin: 0;
	border-left: 1px solid #ccc9c6;
}

.hearts span::before {
	content: "";
	background: url(/img/heart.png) no-repeat 0 0;
	background-size: 16px;
	width: 16px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.mobile-content-box {
	font-size: 18px;
    padding: 30px 20px;
}

.mobile-content-box p:last-child {
	margin: 0;
}

.mobile-content-box span {
	font-style: italic;
}

.mobile-content-row {
	border-bottom: 10px solid #e0dfdd;
	padding-top: 10px;
    padding-bottom: 10px;
}

.promo-button {
	display: none;
	position: fixed;
	z-index: 10;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #00bff3;
	color: #fff;
	padding: 8px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3em;
}

.editors-choice {
	width: 170px;
	margin: 0 auto 20px;
}


/* ========== MEDIA QUERIES ============ */


@media (min-width: 321px) {

	h1 {
		font-size: 29px;
	}

}

@media (min-width: 375px) {

	.cta-button {
		width: 150px;
	}

	.price-like-box {
		width: 136px;
	}

}

@media (min-width: 440px) {
	.promo-button br {
		display: none;
	}
}

@media (min-width: 470px) {

	.art-box {
		margin: 0 auto;
		width: 425px;
	}

	h1 {
		width: 425px;
		font-size: 34px;
		margin-left: auto;
		margin-right: auto;
	}

	.editors-choice {
		float: left;
		margin-right: 20px;
    	margin-bottom: 25px;
	}

}

@media (min-width: 600px) {

	.mobile-content-box {
		margin: 0 auto;
		width: 500px;
	}

}

@media (min-width: 768px) {

	header {
		background: #ebeae8 url('/img/kitchen-with-art.jpg') no-repeat center 0;
		background-size: 1080px;
    	height: 415px;
    	border-bottom: 0;
	}

	header p {
		padding-right: 95px;
		font-size: 14px;
	}

	p {
		margin-bottom: 15px;
	}

	h1 {
		width: auto;
		font-size: 26px;
		margin-bottom: 20px;
	}

	.body-content .container > .row {
		margin-top: 75px;
		padding-top: 75px;
	}

	.body-content > .container > .row:first-of-type {
		padding-top: 20px;
	}

	.art-image {
		position: absolute;
		top: 0;
		right: 20px;
		margin-bottom: 0;
	}

	.art-box {
		margin: 0;
		width: 286px;
	}

	.art-box.horizontal .art-image {
		width: 425px;
	}

	.title-container {
		margin-bottom: 40px;
		padding-left: 0;
	}

	.title-box {
		float: left;
		width: 82%;
		padding-left: 20px;
		padding-right: 10px;
	}

	.position {
		margin: 0;
		width: 18%;
	}

	.cta-box {
		padding-left: 70px;
	}

	.price,
	.promo-price {
		font-size: 16px;
	}

	.price-like-box {
		float: none;
		width: 149px;
	}

	.promo-button {
		font-size: 16px;
	}


}

@media (min-width: 767px) and (max-width: 991px) {

	.logo {
		margin-top: 15px;
    	margin-bottom: 20px;
	}
	
}

@media (min-width: 992px) {

	header {
		height: 525px;
		background-size: 1370px;
	}

	h1 {
		font-size: 29px;
		margin-bottom: 30px;
	}

	header p {
		font-size: 16px;
		padding-right: 25%;
	}

	p {
		margin-bottom: 20px;
	}

	.logo {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.body-content .col-md-6 {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}

	.art-box.horizontal .art-image {
		width: 506px;
	}

	.art-image {
		right: 15px;
	}

	.art-box {
		width: 271px;
	}

}

@media (min-width: 1200px) {

	header {
		height: 660px;
		background-size: auto;
	}

	header p {
		font-size: 18px;
		padding-right: 30%;
	}

	.logo::before {
		background-size: 17px;
		width: 25px;
	}

	p {
		margin-bottom: 30px;
	}

	h1 {
		font-size: 36px;
		margin-bottom: 40px;
	}

	.art-box {
		width: 420px;
		padding-right: 5%;
	}

	.cta-box {
		padding-left: 95px;
	}

	.art-box.horizontal .art-image {
		width: 523px;
	}


}
