body,
html {
	font-family: "Roboto", sans-serif;
	color: #423f3d;
	font-size: 16px;
}

header {
	background: #7b7a78 url('/img/kitchen-with-art.jpg') no-repeat center 0;
	border-bottom: 7px solid #d5cabb;
}

header p {
	font-size: 18px;
}

header p span {
	color: #ec4700;
	
}

h1 {
	font: 300 36px "Roboto Slab", serif;
	color: #5b4b3b;
	letter-spacing: -2px;
	margin-bottom: 40px;
}

p {
	margin-bottom: 30px;
}

img {
	display: block;
	margin: 0 auto;
}

.logo {
	font-family: "Roboto Slab", serif;
	margin-top: 30px;
	margin-bottom: 40px;
}

.logo::before {
	float: left;
	content: "";
	background: url('/img/emblem.png') no-repeat 0 0 / 17px;
	width: 25px;
    height: 27px;
}

.body-content {
	width: 100%;
	background-color: #ebeae8;
}

.art-box {
	text-align: center;
}

/* ========== MEDIA QUERIES ============ */

@media (min-width: 1200px) {

	header {
		height: 655px;
	}

	header p {
		padding-right: 20%;
	}

}